body {
  background-image: url("img/brickwall.jpg");
}

#pagetitle {
font-family: 'Indie Flower', cursive;
color: silver;
background-color: black;
opacity: 0.8;
font-size: 44px;
}

#pagedescrip {
font-family: 'Lateef', cursive;
color: gold;
background-color: black;
opacity: 0.8;
font-size: 44px;
}

#charts {

}

.chartback {
background-color: black;
opacity: 0.8;
padding: 1%;
}
